<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Document</title>
    </head>
    <body>
        <style>
        p{
    color: #000000;
    font-size: 19px;
    font-weight: bold;
    &:hover{
        color: #cc2424;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }
}
    </style>

<!-- https://dreamyguy.github.io/react-emojis/ -->
        <p>Boris😍</p>
    </body>
</html>